{%load static%}
<!doctype html>
<html lang="en">
  <head>
  	<title>Ladhar Club</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'member/css/style.css' %}">
    
  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="p-4 pt-5">
		  		<a href="#" class="img logo rounded-circle mb-5" style="background-image: url({{user.image.url}});"></a>
	        <ul class="list-unstyled components mb-5">
	          <li>
              <a href="#">{{record.username}}</a>
            </li>
            <li>
              <a href="#">{{record.name}}</a>
            </li>
            <li>
              <a href="#">{{record.group}}</a>
            </li>
	        </ul>

	        <div class="footer">
	        	<p> &copy;All right are reserved by Ladhar Club </p>
	        </div>

	      </div>
    	</nav>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-primary">
              <i class="fa fa-bars"></i>
              <span class="sr-only">Toggle Menu</span>
            </button>
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'memberhome'  %}">Home</a>
                </li>
                
              </ul>
            </div>
          </div>
        </nav>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-6 offset mt-1">
                <div class="jumbotron" style="background-color: whitesmoke;">
                  <h2 class="display-7">Ladhar Clubs</h2>
                  
                  <hr class="my-10">
                    Under Construction
                </div>
            </div>
          </div>
        </div>
        <script>
          document.querySelector('#room-name-input').focus();
          document.querySelector('#room-name-input').onkeyup = function(e) {
              if (e.keyCode === 13) {  // enter, return
                  document.querySelector('#room-name-submit').click();
              }
          };
    
          document.querySelector('#room-name-submit').onclick = function(e) {
              var roomName = document.querySelector('#room-name-input').value;
              window.location.pathname = '/' + roomName + '/';
          };
      </script>
        
      </div>
		</div>

    <script src="{% static 'member/js/jquery.min.js' %}"></script>
    <script src="{% static 'member/js/popper.js' %}"></script>
    <script src="{% static 'member/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'member/js/main.js' %}"></script>
  </body>
</html>