{%load static%}
<!doctype html>

<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Password Change </title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    


    <link rel="stylesheet" href="{% static 'staff/vendors/bootstrap/dist/css/bootstrap.min.css' %}">
    
    <link rel="stylesheet" href="{% static 'staff/assets/css/style.css' %}">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

<style>
    .messcolor{
        color:green;
        
    }
    .mescolor{
        color:red;
        
    }
</style>
<script>
function passwordForm() {
    var x = document.forms["passwordvalidation"]["newpassword"].value;
    var y = document.forms["passwordvalidation"]["confirmpassword"].value;
    
    if (/^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{6,16}$/.test(document.passwordvalidation.newpassword.value)===false)
      {
        alert("Your password must include minimun 6 character and maximum 16 character. Atleast one Special character and one number is required ");
        return false;
      }
      else{
        if (x != y) {
            alert("password didn't match");
            return false;
          }
      }
    return true;
  }
</script>
</head>

<body class="bg-dark">


    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    <h2  style="color:whitesmoke">
                        Update Password
                    </h2>
                </div>
                <div class="login-form">
                    <form action="updatepassword" name="passwordvalidation" method="post" onsubmit="return passwordForm()" autocomplete="off" enctype="multipart/form-data" class="form-horizontal">
                        {%csrf_token%}
                            <div class="form-group">
                                <label for="password-input" class=" form-control-label">Old Password:</label>
                                <input type="password" id="oldpassword" name="oldpassword" class="form-control" required>
                            </div>
                            
                            <div class="form-group">
                              <label for="password-input" class=" form-control-label">New Password:</label>
                              <input type="password" id="newpassword" name="newpassword"  class="form-control" required><small class="help-block form-text"></small>
                            </div>
                            <div class="form-group">
                              <label for="password-input" class=" form-control-label">Confirm Password:</label>
                              <input type="password" id="confirmpassword" name="confirmpassword" class="form-control" required><small class="help-block form-text"></small>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success">Confirm</button>
                            </div>
                           
                            <a href="{% url 'memberhome' %}"><button type="button" class="btn btn-info">
                                    Back
                            </button></a>
                            
                            <div class="messcolor">
                                {% for message in messages%}
                                <h5>{{message}}</h5>
                                {%endfor%}
                            </div>
                    </form>   
                </div> 
            </div>
        </div>
    </div>


    <script src="{% static 'staff/vendors/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'staff/vendors/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'staff/vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'staff/assets/js/main.js' %}"></script>


</body>

</html>
