{%load static%}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Content Update </title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    


    <link rel="stylesheet" href="{% static 'staff/vendors/bootstrap/dist/css/bootstrap.min.css' %}">
    
    <link rel="stylesheet" href="{% static 'staff/assets/css/style.css' %}">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

<style>
    .messcolor{
        color:green;
        
    }
</style>
<script>
function validateForm() {
    var x = document.forms["content"]["group"].value;
    if (x == "") {
      alert("Group cannot be empty");
      return false;
    }
  }
</script>
</head>

<body class="bg-dark">


    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    <h2  style="color:whitesmoke">
                        Content Update
                    </h2>
                </div>
                <div class="login-form">
                    <form action="contentupdate" name="content" onsubmit="return validateForm()" method="post" autocomplete="off" enctype="multipart/form-data" class="form-horizontal">
                        {%csrf_token%}
                            
                            <div class="form-group">
                                <label for="article-input" >Group:</label>
                                <input type="text" id="group" name="group" value="{{group}}"  class="form-control" readonly>     
                            </div>
                            
                            <div class="form-group">
                                <label for="article-input" >Article No:</label>
                                <input type="text" id="article" name="article" value="{{article}}"  class="form-control" readonly>
                            </div>
                            <div class="form-group">
                                <label for="heading-input" >Heading:</label>
                                <input type="text" id="heading" name="heading"  value="{{heading}}" class="form-control">
                            </div>
                            
                            <div class="form-group">
                                <label for="desc-input">Description:</label>
                                <textarea name="desc" id="desc" rows="10"class="form-control">{{desc}}</textarea>
                            </div>
                            
                        
                            <div class="form-group">
                                <button type="submit" class="btn btn-success">Update</button>
                            </div>
                           
                            <a href="{% url 'contentview' %}"><button type="button" class="btn btn-info">
                                    Back
                            </button></a>
                            
                            <div class="messcolor">
                                {% for message in messages%}
                                <h5>{{message}}</h5>
                                {%endfor%}
                            </div>
                    </form>   
                </div> 
            </div>
        </div>
    </div>


    <script src="{% static 'staff/vendors/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'staff/vendors/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'staff/vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'staff/assets/js/main.js' %}"></script>


</body>

</html>
